@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
    font-family: 'PT Sans', sans-serif;
    background-color: #999999;
}
.title{
    position:absolute;
    text-align: center;
    left: 2em;
}
h1,a{
    color: #1aad8d;
    text-decoration: none;
}

ul.menu {
    list-style: none;
    position: absolute;
    z-index: 100;
    min-width: 20em;
    text-align: left;
}
ul.menu li{
    margin-top: 1em;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background-color: white;
}

.dropdown-menu {
    position: absolute;
    border-radius: 5px;
    border-top-color: #C9D7F1;
    border-right-color: #36C;
    border-bottom-color: #36C;
    border-left-color: #A2BAE7;
    border-style: solid;
    border-width: 1px;
    z-index: 22;
    padding: 0;
    background-color: white;
    overflow: hidden;
    font-size: small;
    font-family: Arial;
    line-height: 2em;
    word-spacing: 0;
    margin-top: 2px;
}

.dropdown-menu a {
    font-size: 1.25em;
    color: #00C;
    padding: .25em 2em .25em 1em;
    text-decoration: none;
    background: white;
    display: block;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background: #00C;
    color: white;
}

